.header {
    margin-top: 30px;
    margin-bottom: 50px;
}

.image {
    width: 60%;
    margin-bottom: 10px;
}

div.phone {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    width: auto;
    height: 600px;
}

.sort-block .sort-item {
    padding-right: 20px;
}

.price {
    font-weight: bold;
}

