.header {
    margin-top: 30px;
    margin-bottom: 70px;
}

.content {
    display: flex;
    width: max-content;
    margin: auto;
}

.phone {
    margin: 30px;
    width: fit-content;
}
p {
    width: fit-content;
    height: 24px;
}